{% extends 'ExcelApp/HomePage.html' %}

{% block content %}    
    <!--empId  : {{searchResults.empId}}-->
    <section class="center">
    	<div class="form">
		  <div class="forceColor"></div>
		  <div class="topbar">
		  	<div class="spanColor"></div>   
				<div class="slogan">							
					Cab No : {{searchResults.cabSerialNo}}
				</div>				
				.........................................				
				<div class="secondary-slogan">
					<!--Vehicle No : {{searchResults.cabNo}}-->
					Pickup Time : 8:30 PM
				</div>			
				.........................................
			</div>  
		</div>	
	</section>
        <!--date   : {{searchResults.publishDate}}-->
{% endblock %}