{% extends 'ExcelApp/HomePage.html' %}

{% block content %}
    <section class="center">

        <div class="form">
          <div class="forceColor"></div>
          <div class="topbar">
            <div class="spanColor"></div>   
            <h1><font color="white">Upload cab details sheet</h1>                     
            <h1>""</h1>   
            
            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}
            <form action="" enctype="multipart/form-data"  method="post" class="input">        
                <table>
                    {{ form.as_table }}
                </table>
                {% csrf_token %}        
                <h1></h1>
                <input type="submit" value="submit" style="background-color: #4CAF50;border: none;color: white;padding: 5px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;"/>
            </form>
            </div>  
        </div>  
    </section>   
                    
{% endblock %}

